on init
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/blink
    chmod 0660 /sys/class/leds/red/brightness
    chmod 0660 /sys/class/leds/red/blink

    chown system system /sys/class/leds/green/brightness
    chmod 0660 /sys/class/leds/green/brightness

    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/blue/ramp_step_ms
    chown system system /sys/class/leds/blue/duty_pcts
    chown system system /sys/class/leds/blue/start_idx
    chown system system /sys/class/leds/blue/pause_lo
    chown system system /sys/class/leds/blue/pause_hi
    chmod 0660 /sys/class/leds/blue/brightness
    chmod 0660 /sys/class/leds/blue/blink
    chmod 0660 /sys/class/leds/blue/ramp_step_ms
    chmod 0660 /sys/class/leds/blue/duty_pcts
    chmod 0660 /sys/class/leds/blue/start_idx
    chmod 0660 /sys/class/leds/blue/pause_lo
    chmod 0660 /sys/class/leds/blue/pause_hi

service vendor.light-hal-2-0-smartisan /vendor/bin/hw/android.hardware.light@2.0-service.smartisan
    class hal
    user system
    group system
    shutdown critical
